# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
_openmp_mutex             5.1                       1_gnu
antlr-python-runtime      4.9.3              pyhd8ed1ab_1    conda-forge
blas                      1.0                         mkl
bottleneck                1.3.5            py39h7deecbd_0    anaconda
brotlipy                  0.7.0           py39h27cfd23_1003
bzip2                     1.0.8                h7b6447c_0
ca-certificates           2022.07.19           h06a4308_0    anaconda
certifi                   2022.6.15        py39h06a4308_0    anaconda
cffi                      1.15.1           py39h74dc2b5_0
charset-normalizer        2.0.4              pyhd3eb1b0_0
coloredlogs               15.0.1                   pypi_0    pypi
cryptography              38.0.1           py39h9ce1e76_0
cudatoolkit               11.3.1               h2bc3f7f_2
cycler                    0.11.0             pyhd8ed1ab_0    conda-forge
dbus                      1.13.6               h48d8840_2    conda-forge
expat                     2.4.8                h27087fc_0    conda-forge
ffmpeg                    4.3                  hf484d3e_0    pytorch
fontconfig                2.14.0               h8e229c2_0    conda-forge
freetype                  2.11.0               h70c0345_0
future                    0.18.2                   pypi_0    pypi
gettext                   0.19.8.1          h0b5b191_1005    conda-forge
giflib                    5.2.1                h7b6447c_0
glib                      2.68.4               h9c3ff4c_0    conda-forge
glib-tools                2.68.4               h9c3ff4c_0    conda-forge
gmp                       6.2.1                h295c915_3
gnutls                    3.6.15               he1e5248_0
gst-plugins-base          1.18.4               h29181c9_0    conda-forge
gstreamer                 1.18.5               h76c114f_0    conda-forge
h5py                      3.6.0            py39ha0f2276_0    anaconda
hdf5                      1.10.6               h3ffc7dd_1    anaconda
humanfriendly             10.0                     pypi_0    pypi
icu                       68.2                 h9c3ff4c_0    conda-forge
idna                      3.4              py39h06a4308_0
intel-openmp              2021.4.0          h06a4308_3561
jpeg                      9e                   h7f8727e_0
keyutils                  1.6.1                h166bdaf_0    conda-forge
kiwisolver                1.4.2            py39hf939315_1    conda-forge
krb5                      1.19.3               h3790be6_0    conda-forge
lame                      3.100                h7b6447c_0
lcms2                     2.12                 h3be6417_0
ld_impl_linux-64          2.38                 h1181459_1
lerc                      3.0                  h295c915_0
libclang                  11.1.0          default_ha53f305_1    conda-forge
libdeflate                1.8                  h7f8727e_5
libedit                   3.1.20191231         he28a2e2_2    conda-forge
libevent                  2.1.10               h9b69904_4    conda-forge
libffi                    3.3                  he6710b0_2
libgcc-ng                 11.2.0               h1234567_1
libgfortran-ng            11.2.0               h00389a5_1    anaconda
libgfortran5              11.2.0               h1234567_1    anaconda
libglib                   2.68.4               h3e27bee_0    conda-forge
libgomp                   11.2.0               h1234567_1
libiconv                  1.16                 h7f8727e_2
libidn2                   2.3.2                h7f8727e_0
libllvm11                 11.1.0               hf817b99_2    conda-forge
libpng                    1.6.37               hbc83047_0
libpq                     13.3                 hd57d9b9_0    conda-forge
libstdcxx-ng              11.2.0               h1234567_1
libtasn1                  4.16.0               h27cfd23_0
libtiff                   4.4.0                hecacb30_0
libunistring              0.9.10               h27cfd23_0
libuuid                   2.32.1            h7f98852_1000    conda-forge
libuv                     1.40.0               h7b6447c_0
libwebp                   1.2.4                h11a3e52_0
libwebp-base              1.2.4                h5eee18b_0
libxcb                    1.13              h7f98852_1004    conda-forge
libxkbcommon              1.0.3                he3ba5ed_0    conda-forge
libxml2                   2.9.12               h72842e0_0    conda-forge
lz4-c                     1.9.3                h295c915_1
matplotlib                3.4.3            py39hf3d152e_2    conda-forge
matplotlib-base           3.4.3            py39h2fa2bec_2    conda-forge
mido                      1.2.10                   pypi_0    pypi
mir-eval                  0.7                      pypi_0    pypi
mkl                       2021.4.0           h06a4308_640
mkl-service               2.4.0            py39h7f8727e_0
mkl_fft                   1.3.1            py39hd3c417c_0
mkl_random                1.2.2            py39h51133e4_0
mysql-common              8.0.25               ha770c72_2    conda-forge
mysql-libs                8.0.25               hfa10184_2    conda-forge
ncurses                   6.3                  h5eee18b_3
nettle                    3.7.3                hbbd107a_1
nspr                      4.32                 h9c3ff4c_1    conda-forge
nss                       3.69                 hb5efdd6_1    conda-forge
numexpr                   2.8.3            py39h807cd23_0    anaconda
numpy                     1.23.3           py39h14f4228_0
numpy-base                1.23.3           py39h31eccc5_0
omegaconf                 2.1.2            py39hf3d152e_0    conda-forge
openh264                  2.1.1                h4ff587b_0
openssl                   1.1.1q               h7f8727e_0    anaconda
packaging                 21.3               pyhd3eb1b0_0    anaconda
pandas                    1.4.2            py39h295c915_0    anaconda
parse                     1.19.0                   pypi_0    pypi
pcre                      8.45                 h9c3ff4c_0    conda-forge
pillow                    9.2.0            py39hace64e9_1
pip                       22.2.2           py39h06a4308_0
pthread-stubs             0.4               h36c2ea0_1001    conda-forge
pycparser                 2.21               pyhd3eb1b0_0
pyopenssl                 22.0.0             pyhd3eb1b0_0
pyparsing                 3.0.4              pyhd3eb1b0_0    anaconda
pyqt                      5.12.3           py39h03dd644_4    conda-forge
pyqt5-sip                 4.19.18                  pypi_0    pypi
pyqtchart                 5.12                     pypi_0    pypi
pyqtwebengine             5.12.1                   pypi_0    pypi
pysocks                   1.7.1            py39h06a4308_0
python                    3.9.0                hdb3f193_2
python-dateutil           2.8.2              pyhd3eb1b0_0    anaconda
python_abi                3.9                      2_cp39    conda-forge
pytorch                   1.11.0          py3.9_cuda11.3_cudnn8.2.0_0    pytorch
pytorch-mutex             1.0                        cuda    pytorch
pytz                      2022.1           py39h06a4308_0    anaconda
pyyaml                    6.0              py39hb9d737c_4    conda-forge
qt                        5.12.9               hda022c4_4    conda-forge
readline                  8.2                  h5eee18b_0
requests                  2.28.1           py39h06a4308_0
scipy                     1.9.3                    pypi_0    pypi
setuptools                63.4.1           py39h06a4308_0
six                       1.16.0             pyhd3eb1b0_1
sqlite                    3.39.3               h5082296_0
tk                        8.6.12               h1ccaba5_0
torchaudio                0.11.0               py39_cu113    pytorch
torchvision               0.12.0               py39_cu113    pytorch
tornado                   6.1              py39hb9d737c_3    conda-forge
typing_extensions         4.3.0            py39h06a4308_0
tzdata                    2022e                h04d1e81_0
urllib3                   1.26.12          py39h06a4308_0
wheel                     0.37.1             pyhd3eb1b0_0
xorg-libxau               1.0.9                h7f98852_0    conda-forge
xorg-libxdmcp             1.1.3                h7f98852_0    conda-forge
xz                        5.2.6                h5eee18b_0
yaml                      0.2.5                h7f98852_2    conda-forge
zlib                      1.2.13               h5eee18b_0
zstd                      1.5.2                ha4553b6_0
